// Colores
$grisMedioOscuro: #919191;
$grisMedio: #858585;
$grisMedioClaro: #D1D1D1;
$grisClaro: #e6e4e4;
$grisOscuro: #454545;
$girsMedioMasOscuro: #6B6B6B;
$girsMedioDorado: #ABAB83;
$girsMedioDoradoMasOscuro: #919166;

* {
  font-family: 'Ubuntu', sans-serif;
  color: $grisOscuro;
  font-size: 18px;
}

.portada {
  width: 100%;
}


h1 {
  font-weight: 500;
  color: $girsMedioDoradoMasOscuro;
}

h2 {
  font-weight: 400;
  color: $girsMedioDoradoMasOscuro;
}

h3 {
  font-weight: 300;
}

h5 {
  font-weight: 300;
}

hr {
  width: 70%;
  margin: 50px auto;
}

.btn {
  min-width: 130px;
  height: 40px;
  color: $grisClaro;
  padding: 5px 10px;
  font-weight: 300;
  cursor: pointer;
  transition: all 0.2s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  border: none;
  background-size: 120% auto;
  background-image: linear-gradient(315deg, rgb(54, 54, 54) 0%, rgb(132, 131, 131) 55%, rgb(120, 120, 120) 75%);
  &:hover {
    color: #fff;
    border: 2px solid $grisOscuro;
    background-position: right center;
  }
  &:active {
    top: 2px;
  }
}

/* Comeinza Navbar */

.logo {
  width: 200px;;
}

/* Fin Navbar */


/* Comeinza pagina Medio Ambiente */

.logoStd {
  width: 250px;
}

.textoInformativo {
  text-align: justify;
}

.productosMedioAmbiente {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  row-gap: 20px;
}

.prodCard {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 10px;
  &:hover {
    background-color: $grisMedioClaro;
  }
}

.imgsBarometrica {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  img {
    width: 500px;
    padding: 10px;
    &:first-child {
      border-top: 2px solid $grisMedioClaro;
      border-left: 2px solid $grisMedioClaro;
    }
    &:last-child {
      border-bottom: 2px solid $grisMedioClaro;
      border-right: 2px solid $grisMedioClaro;
    }
  }
}

#listContenedores {
  margin: 40px auto;
    li {
      list-style-position: inside;
    }
}

.imgsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  img {
    padding: 10px;
    width: 500px;
    &:first-child {
      border-top: 2px solid $grisMedioClaro;
      border-left: 2px solid $grisMedioClaro;
    }
    &:last-child {
      border-bottom: 2px solid $grisMedioClaro;
      border-right: 2px solid $grisMedioClaro;
    }
  }
}

.imgsLimpAsp {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  row-gap: 20px;
}

.imgCamion { 
  img {
    width: 100%;
  }
}

.imgLimp {
  max-width: 800px;
  img {
    width: 100%;
  }
}

.imagenesGrid {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 4;
  grid-template-rows: auto;
  row-gap: 20px;
  img {
    width: 100%;
  }
}

.gridTransp {
  display: grid;
  grid-template-columns: 4;
  grid-template-rows: 3;
  row-gap: 10px;
  column-gap: 10px;
  img {
    width: 100%;
    height: 100%;
  }
}

.img1 {
  grid-row: 1/3;
  grid-column: 1/3;
}

.img2 {
  grid-row: 1/2;
  grid-column: 3/5;
}

.img3 {
  grid-row: 2/4;
  grid-column: 3/5;
}

.img4 {
  grid-row: 3/4;
  grid-column: 1/2;
}

.img5 {
  grid-row: 3/4;
  grid-column: 2/3;
}

.one {
  grid-column: 1/2;
  grid-row: 1/2;
}

.two {
  grid-column: 3/5;
  grid-row: 1/2;
}

.three {
  grid-column: 1/3;
  grid-row: 2/3;
}

.four {
  grid-column: 3/5;
  grid-row: 2/3;
}

.five {
  grid-column: 1/3;
  grid-row: 3/4;
}

.six {
  grid-column: 3/5;
  grid-row: 3/4;
}

.seven {
  grid-column: 1/5;
  grid-row: 4/5;
}

.imgGrid {
  width: 90%;
}

#infoPowLimpSilas {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
}

#infoGirLimpSilas {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
}

/* Fin pagina Medio Ambiente */

/* Comienza pagina Repuestos */

.containerLogos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.logosRepuestos {
  width: 150px;
  margin: 10px;
}

/* Finaliza pagina Repuestos */

/* Inicia pagina Asfalto */

.buttonsContainerAsf {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
  margin-bottom: 20px;
}

.logoSM {
  width: 300px;
}

.logoMetong {
  width: 400px;
}

span {
  color: $girsMedioDoradoMasOscuro;
}

#sealmaster {
  #productosSeal {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
  }
}

#metong {
  #productosMetong {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
  }
}

.prodsSeal {
  width: 600px;
  img {
    width: 100%;
  }
}

.prodsMetong {
  min-height: 500px;
  width:600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  img {
    width: 100%;
  }
}

.list {
  li {
    list-style-position: inside;
  }
}

.imagenGrande {
  width: 800px;
  margin: 50px auto;
  img {
    width: 100%;
  }
}

.oculto {
  display: none;
}

.link {
  text-decoration: none;
  color: $grisClaro;
  &:hover {
    color: $grisClaro;
  }
}

/* Finaliza pagina Asfalto */

/* Pagina contacto */

form {
  display: grid;
  grid-gap: 10px;

  label {
    display: block;
    font-weight: bold;
    color: $girsMedioDorado;
  }

  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid $grisMedioOscuro;
    border-radius: 5px;
  }
}

/* Fin Pagina contacto */

/* Comienza Footer */

.footer {
    background-color: #f8f9fa;
    padding: 40px 0;
    
    .footer-bottom {
      background-color: #e9ecef;
      padding: 10px 0;
      
      p {
        margin: 0;
        text-align: center;
        font-size: 14px;
        color: #6c757d;
      }
    }
    
    h3 {
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 20px;
    }
    
    p {
      font-size: 14px;
      margin-bottom: 10px;
    }
    
    ul {
      padding-left: 0;
      
      li {
        list-style: none;
        margin-bottom: 5px;
        
        a {
          color: #333;
          text-decoration: none;
          
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
    
    .social-icons {
      li {
        display: inline-block;
        margin-right: 10px;
        
        a {
          color: #333;
          text-decoration: none;
          font-size: 20px;
          
          &:hover {
            color: #007bff;
          }
        }
      }
    }
  }
  